

<h4>Select option con Angular</h4>

<select (change)="onChange($event)" >
    <option value="Paris">Paris</option>
    <option value="Roma">Roma</option>
    <option value="Sevilla">Sevilla</option>
</select>

<h3>El select seleccionado es: {{option}}</h3>

<h4>OnMouseEnter-Out </h4>

<div (mouseenter)="addImg()" (mouseout)="removeImg()" style="width: 200px; height: 130px; position: relative; background-color: red;">
    <img style="position: absolute; width: 100%; height: 100%;" src="{{img}}" alt="Pasa el mouse!!">
</div>