
<!-- ----------------------------------------------------------------------- -->
<!--                         COMPONENTE DE SELECTOR                          -->
<!-- ----------------------------------------------------------------------- -->

<h5>COMPONENTE SELECTOR DE CLASE </h5>
<saludo-hello-word></saludo-hello-word>


<br>
<br>

<!-- ----------------------------------------------------------------------- -->
<!--                      JERARQUIA DE LOS COMPONENTES                       -->
<!-- ----------------------------------------------------------------------- -->
<h5>JERARQUIA DE COMPONENTES</h5>
<app-padre></app-padre>
<br>
<br>
<!-- ----------------------------------------------------------------------- -->
<!--                    EVENTOS CON COMPONENTES                      -->
<!-- ----------------------------------------------------------------------- -->
<h5>Eventos con los componentes</h5>
<app-eventos></app-eventos>
<br>
<br>

<h5>Ejercicio cronometro</h5>
<app-cronometro></app-cronometro>
<br>
<app-cronometro></app-cronometro>
<br>
<br>
<!-- ----------------------------------------------------------------------- -->
<!--                               CALCULADORA                               -->
<!-- ----------------------------------------------------------------------- -->
<h5>Ejercicio calculadora</h5>
<app-calculadora></app-calculadora>
<br>
<br>
<h5>Decorador Input Angular</h5>
<!-- Decorador input -->
<app-input mensaje="Parametro pasado desde el HTML padre"></app-input>
<app-input></app-input>

<h5>Property Binding (Paso de variables como parametros para metodos de otros componentes</h5>
<app-binding></app-binding>

<br>
<br>

<h5>Ejercicio suma usando decorador input</h5>
<!-- Podemos poner entre corchetes un atributo y asi pasa a ser código JS, de esta forma se puede recivir el valor tipo number -->
<app-suma-dinamica num1="12" [num2]="20"></app-suma-dinamica>ç
<!-- Los valores vienen dados desde el componente -->
<app-suma-dinamica ></app-suma-dinamica>
<br>
<br>
<h5>Cronometro usando el decorador Output para mostrar por consola la finalización de cada uno</h5>
<!-- Ejemplo de como pasar un numero de un array en componente padre -->
<app-output [numeroInicial]="numerosCrono[1]" (finalizacionCrono)="avisamePadre($event)"></app-output>
<app-output [numeroInicial]="4" (finalizacionCrono)="avisamePadre($event)"></app-output>
<app-output [numeroInicial]="numerosCrono[0]" (finalizacionCrono)="avisamePadre($event)"></app-output>
<app-output [numeroInicial]="12" (finalizacionCrono)="avisamePadre($event)"></app-output>
<br>
<br>
<br>
<h5>TWO WAYS BIDDING O PASO DE DATOS ENTRE COMPONENTES</h5>
<app-two-ways-bidding></app-two-ways-bidding>
<br>
<br>
<br>
<h5>DIRECTIVAS DE ANGULAR</h5>
<br>
<h5>Directiva ngStyle</h5>
<app-ng-style></app-ng-style>
<br>
<br>
<br>
<h5>Directiva ngClass</h5>
<app-ng-class></app-ng-class>


