
<!-- ----------------------------------------------------------------------- -->
<!--                         COMPONENTE DE SELECTOR                          -->
<!-- ----------------------------------------------------------------------- -->

<h5>COMPONENTE SELECTOR DE CLASE </h5>
<saludo-hello-word></saludo-hello-word>


<br>
<br>
<br>

<!-- ----------------------------------------------------------------------- -->
<!--                      JERARQUIA DE LOS COMPONENTES                       -->
<!-- ----------------------------------------------------------------------- -->
<h5>JERARQUIA DE COMPONENTES</h5>
<app-padre></app-padre>

<!-- ----------------------------------------------------------------------- -->
<!--                    EVENTOS CON COMPONENTES                      -->
<!-- ----------------------------------------------------------------------- -->
<h5>Eventos con los componentes</h5>
<app-eventos></app-eventos>


<app-cronometro></app-cronometro>
<br>
<app-cronometro></app-cronometro>